*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    position: relative;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

.div-1{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-1 h3{
    font-size: 49px;
}

.div-1 hr{
    border: 0.3rem solid aqua; 
    width: 80px;
}

.div-2{
    padding: 8px 30px;
    margin-top: 5rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 5px rgba( 0, 0, 0, 0.09);
}

.div-4{
    text-align: center;
    padding-bottom: 1.2rem;
}

.div-4 h4{
    letter-spacing: 0.25rem;
    padding-bottom: 1rem;
}

.div-4 h6{
    font-size: 1.10rem;
    color: rgb(32, 192, 192);
    text-transform: capitalize;
}

.div-5 p{
    color: hsl(210, 22%, 49%) ;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
}

.span-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: aqua;
}
.div-5 button{
    width: 100%;
    padding: 10px 0px;
    background-color: aqua;
    font-size: 16px;
    border: none;
    border-radius: 14px;
}