*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    position: relative;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

.div-1{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-1 h3{
    font-size: 49px;
}

.div-1 hr{
    border: 0.3rem solid hsl(205, 78%, 60%);; 
    width: 80px;
}

.div-2{
    padding: 8px 30px;
    margin-top: 5rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 5px rgba( 0, 0, 0, 0.09);
}

.div-3{
    margin-top: 25px;
    position: relative;
    background-color: hsl(205, 78%, 60%);;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.div-3 span{
    position: absolute;
    top: 25px;
    left: -25px;
    background-color: hsl(205, 78%, 60%);;
    width: 5.5rem;
    height: 5.5rem;
    z-index: 20;
    border-radius: 5rem;
}

.div-3 i{
    position: absolute;
    top: 23px;
    left: 18px;
    font-size: 2.5rem;
    color: white; 
}

.div-3 img{
    position: absolute;
    top: 8px;
    right: 17px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.div-4{
    margin-top: 2.5rem;
    text-align: center;
    padding-bottom: 1.2rem;
}

.div-4 h4{
    letter-spacing: 0.25rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.div-4 h6{
    font-size: 1.10rem;
    color: hsl(205, 78%, 60%);
    text-transform: uppercase;
}

.div-5 p{
    color: hsl(210, 22%, 49%) ;
    text-align: center;
    font-size: 18px;
    line-height: 2rem;
}

.span-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(205, 90%, 76%);
}

.span-1:hover{
    color: hsl(205, 78%, 60%);
}
.div-5 button{
    width: 100%;
    padding: 10px 0px;
    background-color: hsl(205, 100%, 96%);
    font-size: 16px;
    border: none;
    border-radius: 14px;
    color: hsl(205, 78%, 60%) ;
    
}

.div-5 button:hover {
    background-color: hsl(205, 78%, 60%);
    color: hsl(205, 100%, 96%);
}
